/*//////////////////////HEAD/////////////////////////////////*/

* {

	font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

/*//////////////////////BODY/////////////////////////////////*/

#dimensions{

    margin:2px auto;
    max-width: 1280px;
}
a{
    text-decoration: none;
}

/*//////////////////////HEADER///////////////////////////////*/

.header{

    display: flex;
    height: 70px;  
}
.header__nav{

    display: flex;
    justify-content:flex-end;
    width: 100%;
}
.header__nav--choise{

    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: flex-end;
    text-align: center; 
    width: 40%;
   
}
.header__nav--accommodation{
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: flex-end;   
    border-top: 3px transparent solid;
    font-weight: 600;
    width: 50%; 
}
.header__nav--accommodation:hover{

    border-top: 3px #0065FC solid;
    color: #0065FC;
}
.header__nav--activities{

    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: flex-end;   
    border-top: 3px transparent solid;
    font-weight: 600;
    width: 50%; 

}
.header__nav--activities:hover{

    border-top: 3px #0065FC solid;
    color: #0065FC;
}
.header__nav--registration{

    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: flex-end; 
}
.header__nav--registration a{

    color:#0065FC;
    font-weight: 800;

}
.header__logo{

        position: absolute;
        top: 45px;
 
}

/*//////////////////////SEARCH-BAR///////////////////////////////*/

.search-bar{

    margin: 30px 0px 0px 0px;
}
.search-bar h1{
    
    width: 88%;
    font-size: 20px;
    font-weight: 800;
}
.search-bar #ph1{
    margin-top: -7px;
}
#search {
    display: flex;/*donne a la forme(input)les attribut des flexbox par default en ligne"row" 
                    en icluant la div avec le favicon*/
    margin-bottom: 25px;

}
#search input{
    height: 47px;/*hauteur du champ de recherche*/
    width: 270px;/*largeur du champ de recherche*/
    border: 2px solid rgba(230, 230, 230, .5); /*couleur de la bordure du champ de recherche*/
    margin-right: -4px;/*réduit l'espace entre le boutton et le champ de recherche*/
    background-color:transparent;
}
#search__map-marker {
    display: flex;/*donne a la div les attribut des flexbox*/
    float: left;/*La propriété float left indique que l'élément favicon doit être retiré du flux normal 
    et doit être placé sur le côté gauche de son conteneur.*/
    justify-content: center;/*place le favicon au milieu de la div*/
    align-items: center;/*place le favicon au centre de la div*/
    width: 45px;/*définit la largeur de la div pour inclure le favicon*/
    height: 47px;/*définit la hauteur*/
    border: 1px solid #F2F2F2;/*définit le style,la taille et la couleur de la bordure*/
    border-radius: 15px 0px 0px 15px;/*définit les arrondis exterieur de la div*/
    background-color: #F2F2F2;/*définit la couleur de la div*/
}
#search__button--desktop{
    width: 100px;/*définit la largeur du boutton*/
    height: 47px;/*définit la hauteur du boutton*/
    color: #FFFFFF;/*définit la couleur de ce qui est écrit dans le boutton*/
    background-color: #0065FC;/*définit la couleur de fond boutton*/
    border: 0;/*retire la bordure du boutton*/
    border-radius: 0  15px  15px 0;/*définit les arrondis exterieur de la div*/
    display: inline;
}
#search__button--mobile{
    width: 45px;/*définit la largeur du boutton*/
    height: 47px;/*définit la hauteur du boutton*/
    color: #FFFFFF;/*définit la couleur de ce qui est écrit dans le boutton*/
    background-color: #0065FC;/*définit la couleur de fond boutton*/
    border: 0;/*retire la bordure du boutton*/
    border-radius: 15px 15px 15px 15px;/*définit les arrondis exterieur de la div*/ 
    display: none;   
}
#filter{
    display: flex;/*donne a la div les attribut des flexbox*/
    flex-wrap: wrap;/*permet au filtre d'aller a la ligne*/
    padding: 0;/*aligne les filtres a gauche de la page*/
}
#filter a{
    color: black;
}
#filter__title{
    display: flex;
    align-items: center;
    font-weight: 800;
}
#filter__money, #filter__child, #filter__heart, #filter__dog{
    display: flex;/*donne a la div les attribut des flexbox*/
    list-style-type: none;/* on annule la puce par défaut */
    height: 42px; /*hauteur de la div*/
    margin: 0 10px ;/*marge avec les autres div*/
    padding-right: 20px;/*marge interieure droite de la div*/
    border: 2.5px solid #efeded;/*épaiseure,style et couleur de la bordure de la div*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    align-items: center;/*aligne le texte du lien au centre de la div*/ 
    font-weight: bold; 
}
#filter__money:hover, #filter__child:hover, #filter__heart:hover, #filter__dog:hover{
    background: #DEEBFF;
    transition-duration: 0.3s;  
}
#filter__money:hover i, #filter__child:hover i, #filter__heart:hover i, #filter__dog:hover i{
    background: #FFF;
    transition-duration: 0.3s;
    color: red;
}
#filter__money:hover a, #filter__child:hover a, #filter__heart:hover a, #filter__dog:hover a{
    color: #0065FC;
    font-style:italic;
}
#filter__money i, #filter__child i, #filter__heart i, #filter__dog i{
    display: flex;/*donne a la div les attribut des flexbox*/
    justify-content: center;/*aligne la favicon sur l'axe horizontal */
    align-items: center;/*aligne la favicon sur l'axe vertical*/
    background-color: #DEEBFF;/*définit la couleur de fond pour la favicon*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 45px;;/*définit la largeur de la div pour inclure le favicon*/
    height: 45px;/*définit la hauteur*/
    color: #0065FC;/*couleur de la favicon*/
    margin-right: 10px;/*défini l'espacement entre la div favicon et le texte du lien*/
}
#filter__result{
    display: flex;/*donne a la div les attribut des flexbox*/
    align-items: center;/*aligne la favicon et le texte*/
    margin-top: 20px;
}

#filter__info {
    display: flex;/*donne a la div les attribut des flexbox*/
    justify-content:center;/*aligne la favicon sur l'axe horizontal du cercle*/
    align-items: center;/*aligne la favicon sur l'axe vertical du cercle*/
    border: 2px solid #f2f2f2;/**/
    border-radius: 100%;/**/
    width: 30px;/**/
    height: 25px;/**/
    color: #0065FC;/**/
    margin-right: 10px;/**/
}

/*//////////////////SECTION-populaire-hébergement//////////////////////*/

#popular-accommodation{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;   
}
#popular-accommodation a{
    text-decoration: none;
}
span.color-grey i{
    font-size: x-small;
}
.color-grey{
    color: rgb(180, 180, 180) ;
}
span.color-blue i {
    font-size: x-small;
}
.color-blue{
    color: #0065FC;
}
h5.card-title{
    margin: 2px 0;
}
p.card-text {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*/////////////////////DIV-popular-//////////////////////////////////*/

#popular{
   
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding-bottom: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 33%;
}
#popular__title {
    display: flex;
    justify-content:space-between;
    margin: 0 15px;
}
i.fas.fa-chart-line{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.popular__card--pop{
    border: 2px solid #f2f2f2;
    display: flex;
    padding: 4px;
    margin: 20px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 6px rgb(200, 200, 200);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
}
.popular__card--body-pop{
    margin: 10px;
}
.popular__card--pop img{
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*/////////////////////DIV-accommodation-//////////////////////////////////*/

#accommodation{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 66%;
}
#accommodation__title{
    margin-left: 17px;
}
#accommodation__card{
    display: flex;
    flex-wrap: wrap;

}
#accommodation .accommodation__card {
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 0 0 30px 12px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 6px rgba(115, 115, 115, 0.15);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 90%;  
}
#accommodation .accommodation__card-body{
    margin: 10px;
}
#accommodation .accommodation__card img{
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#accommodation-more{
    margin: 17px ;
}
.v{
    display: inline;
}
.v2{
    display: none;
}
.v3{
    display: none;
}

/*/////////////////////SECTION-activities//////////////////////////////////*/

#activities{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#activities a{
    text-decoration: none;
}
#activities__title{
    margin-left: 17px;
}

.activities__col{
    width: 25%;
}
#activities__col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#activities__col-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#activities__card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
#activities .activities__card {
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 6px rgba(115, 115, 115, 0.15);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}
#activities .activities__card-body{
    margin: 10px;
}
#activities .activities__card img{
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*//////////////////////FOOTER/////////////////////////////////*/

footer{
    display: flex;
    justify-content:space-around;
    background-color: #F2F2F2;     
}
footer div {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 20px;
}
footer h3{
    font-weight: 800;
}
footer li{
    list-style-type: none;/* on annule la puce par défaut */
    margin-left: -41px;/*aligne le texte des liens sur les titres*/
}

@media screen and (max-width: 380px){

/*//////////////////////BODY/////////////////////////////////*/

    #dimensions{

        margin: 0px auto;
        max-width: 380px;
        
    }

/*//////////////////////HEADER///////////////////////////////*/

    .header__logo{

        position: absolute;
        top: 30px;
        left: 22px;
    } 
    .header__nav--choise{

        width: 100%;
        height: 130px;
        border-bottom: 2px #F2F2F2 solid;

    }
    .header__nav--accommodation{
        display: flex;
        align-self: stretch;
        justify-content: center;
        align-items: flex-end ;
        margin-top: 90px;
        padding-bottom: 10px;
        border-bottom: 3px transparent solid;
        width: 100%
    }
    .header__nav--accommodation:hover{
        
        border-top: transparent;
        border-bottom: 3px #0065FC solid; ;
      
    }
    .header__nav--activities{
    
        display: flex;
        align-self: stretch;
        justify-content: center;
        align-items: flex-end ;
        margin-top: 90px;
        padding-bottom: 10px;
        border-bottom: 3px transparent solid;
        width: 100%    
    
    }
    .header__nav--activities:hover{
    
        border-top: transparent;
        border-bottom: 3px #0065FC solid; ;
    }
    .header__nav--registration{
        
        position: absolute;
        top: 50px;
        right: 22px;
    }
   
/*//////////////////////SEARCH-BAR///////////////////////////////*/

    .search-bar{

        margin: 80px 15px 15px 15px;
    }
    .search-bar h1{
        
        width: 88%;
        font-size: 20px;
        font-weight: 800;
    }
    .search-bar #ph1{
        margin-top: -7px;
    }
    #search {
        display: flex;/*donne a la forme(input)les attribut des flexbox par default en ligne"row" 
                        en icluant la div avec le favicon*/
        margin-top: 30px;
        margin-bottom: 25px;

    }
    #search input {
        height: 49px;
        width: 247px;
        border: 2px solid rgba(230, 230, 230, .5);
        margin-right: -15px;
    }
    #search__button--desktop{
        width: 100px;/*définit la largeur du boutton*/
        height: 47px;/*définit la hauteur du boutton*/
        color: #FFFFFF;/*définit la couleur de ce qui est écrit dans le boutton*/
        background-color: #0065FC;/*définit la couleur de fond boutton*/
        border: 0;/*retire la bordure du boutton*/
        border-radius: 0  15px  15px 0;/*définit les arrondis exterieur de la div*/
        display: none;
    }
    #search__button--mobile{
        width: 45px;/*définit la largeur du boutton*/
        height: 47px;/*définit la hauteur du boutton*/
        color: #FFFFFF;/*définit la couleur de ce qui est écrit dans le boutton*/
        background-color: #0065FC;/*définit la couleur de fond boutton*/
        border: 0;/*retire la bordure du boutton*/
        border-radius: 15px 15px 15px 15px;/*définit les arrondis exterieur de la div*/ 
        display: inline;   
    }
    #filter__title {
        display: flex;
        align-items: center;
        font-weight: bold;
        margin-right: 150px;
        margin-bottom: 10px;
        font-weight: 800;
    
    }
    #filter__money{
        display: flex;/*donne a la div les attribut des flexbox*/
        list-style-type: none;/* on annule la puce par défaut */
        margin: 5px 10px 5px 2px ;/*marge avec les autres div*/
        padding-right: 20px;/*marge interieure droite de la div*/
        border: 2.5px solid #efeded;/*épaiseure,style et couleur de la bordure de la div*/
        border-radius: 30px;/*définit les arrondis exterieur de la div*/
        align-items: center;/*aligne le texte du lien au centre de la div*/  
    }
    #filter__child, #filter__heart, #filter__dog{
        display: flex;/*donne a la div les attribut des flexbox*/
        list-style-type: none;/* on annule la puce par défaut */
        margin: 5px 0;/*marge avec les autres div*/
        padding-right: 20px;/*marge interieure droite de la div*/
        border: 3px solid #efeded;/*épaiseure,style et couleur de la bordure de la div*/
        border-radius: 30px;/*définit les arrondis exterieur de la div*/
        align-items: center;/*aligne le texte du lien au centre de la div*/ 
    }

    #filter__result{
        display: flex;/*donne a la div les attribut des flexbox*/
        align-items: center;/*aligne la favicon et le texte*/
        margin-top: 10px;
    }

/*//////////////////SECTION-popular-accommodation//////////////////////*/

    #popular-accommodation{
        display: flex;
        flex-flow: column ;
        justify-content: space-around;
        width: 100%;   
    }

/*/////////////////////DIV-popular-//////////////////////////////////*/

    #popular{ 
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding-bottom: 20px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        width: 100%;
    }

/*/////////////////////DIV-accommodation-//////////////////////////////////*/
    #accommodation{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    #accommodation .accommodation__card {
        border: 2px solid #f2f2f2;
        display: flex;
        flex-direction: column;
        margin:10px 9px;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 6px rgba(115, 115, 115, 0.15);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 96%; 
    }
    #accomodation-more{
        margin: 3px 0px 0px 17px;
    }
    .v{
        display: none;
    }
    .v2{
        display: inline;
    }

/*/////////////////////SECTION-activities//////////////////////////////////*/

    #activities {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: -15px;
    }
    #activities__card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #activities__title h3{
        margin: 5px 0;
    }
    .activities__col{
        width: 100%
    }

/*//////////////////////FOOTER/////////////////////////////////*/

    footer {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 30px;
    }
    footer div{
        margin-right: 0px;
    }
    footer li {
        list-style-type: none;
        margin-left: -41px;
        margin-top: 10px;
        font-weight: 500;
    }
}
 
@media screen and (min-width: 768px) and (max-width: 1280px){

/*//////////////////////BODY/////////////////////////////////////*/ 

    #dimensions{
        margin:2px auto;
        max-width: 745px;
    }
    h5.card-title{
        font-size: 14px;
    }

/*//////////////////////HEADER///////////////////////////////////*/

    .header{
        display: flex;
        height: 70px;  
    }
    .header__logo{
        position: absolute;
        top: 35px;
    }

/*//////////////////////SEARCH-BAR///////////////////////////////*/

    #filter{
        display: flex;
        justify-content: space-between;
    }
    #filter__title{
        display: flex;
        align-items: center;
        font-weight: 800;
    }
    #filter__money, #filter__child, #filter__heart, #filter__dog{
 
        height: 30px; /*hauteur de la div*/
        margin: 0 2px ;/*marge avec les autres div*/ 
    }
    #filter__money i, #filter__child i, #filter__heart i, #filter__dog i{
        width: 30px;;/*définit la largeur de la div pour inclure le favicon*/
        height: 30px;/*définit la hauteur*/
    }
    #filter__result{
        display: flex;/*donne a la div les attribut des flexbox*/
        align-items: center;/*aligne la favicon et le texte*/
        margin-top: 10px;
        margin-bottom: 10px;
    }

/*//////////////////////SECTION-popular-accommodation////////////*/

    #popular-accommodation{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;   
    }

/*//////////////////////DIV-popular-/////////////////////////////*/

    #popular{
    
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        padding-bottom: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 33%;
    }
    .popular__card--pop{
        border: 2px solid #f2f2f2;
        display: flex;
        flex-direction: column;
        padding: 4px;
        margin: 22px 9px;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 6px rgb(200 200 200);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin-top: 1px;
    }

    .popular__card--pop img{
        -webkit-border-top-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .v{
        display: none;
    }
    .v2{
        display: none;
    }
    .v3{
        display: inline;
    }
/*//////////////////////DIV-accommodation-///////////////////////*/

    #accommodation{
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 66%;
    }
    #accommodation a{
        width: 49%;
        display: flex;
    }

/*//////////////////////SECTION-activities///////////////////////*/

    #activities .activities__card {
        margin: 4px;    
    }
    #activities__card h5.card-title{
        font-size: 10px;
        margin: 0px 0px;
    }

/*//////////////////////FOOTER///////////////////////////////////*/
}

